* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: white;
}

/* First view of website */

.navbar {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(images/College.jpg);
    background-position: center;
    background-size: cover;
}

/* top navbar */

.top-navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.top-navbar ul {
    overflow: auto;
}

.top-navbar li a {
    float: left;
    font-size: 1rem;
    padding: 0 1.6%;
}

.top-navbar li a:hover {
    color: aqua;
    transition-delay: 20ms;
}

.top-navbar li button {
    cursor: pointer;
    float: right;
    background-color: blanchedalmond;
    font-size: 14px;
}

/* Top navigation bar end */

/* the dropdown option */

#check {
    display: none;
}

.checkbtn {
    font-size: 8vw;
    color: white;
    float: right;
    padding: 20px;
    padding-bottom: 0;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

/* 
drop down button end 
*/

/* 
main navigation bar 
*/

.mainflexnav {
    position: relative;
}

/* Image */

.mainnav a img {
    float: left;
    max-width: 45%;
    height: auto;
    padding: 20px;
    padding-bottom: 0;
}

/* navigation bar at the right */

.Navigation-bar ul {
    position: absolute;
    top: 2rem;
    right: 0;
    float: right;
}

.Navigation-bar ul li {
    position: relative;
    display: inline-block;
    padding: 20px 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: clamp(1rem, 1.2vw, 1.6rem);
}

/* Not displayed login at full page */

.Navigation-bar ul li span {
    display: none;
}

.Navigation-bar ul li a:hover {
    color: rgb(106, 234, 236);
    transition-delay: 20ms;
}

.dropdown {
    padding: 4px;
    display: none;
    position: absolute;
    background-color: lightslategray;
    min-width: max-content;
    line-height: 2;
    z-index: 1;
}

.dropdown a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.Navigation-bar ul li:hover .dropdown {
    display: grid;
}

/* main navigation bar end */

/* 
Tour button in the middle of the bgimage
*/

.maintour {
    position: relative;
    top: 55%;
}

.tour {
    background-color: rgb(123, 186, 123);
    width: -moz-fit-content;
    position: absolute;
    left: 20%;
    padding: 10px;
}

.tour span {
    color: bisque;
    font-size: clamp(1.3rem, 3vw, 3rem);
}

.V-tour {
    background-color: aqua;
    position: relative;
    height: max-content;
    text-align: center;
    font-size: clamp(1rem, 2vw, 2.2rem);
}

div.V-tour a {
    color: blue;
}

/* tour button end */

/* 
media query for navbar 
*/

/* first view of website end */

.features {
    text-align: center;
}

.features h4 {
    color: rgb(68, 64, 60);
}

footer {
    text-align: center;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: sticky;
    top: 100vh;
    overflow: hidden;
}

footer div {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

footer a:hover {
    color: aqua;
}

.featurescontent {
    display: flex;
}

.featurescontent i {
    padding-right: 10px;
    font-size: 50px;
    color: gray;
}

.child {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    padding: 10px;
    float: left;
    width: 50%;
    text-align: justify;
}

.child:hover {
    transition: box-shadow .3s;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.child a {
    color: rgb(83, 117, 198);
}

.child h3 {
    font-size: clamp(1.3rem, 1.6vw, 2.5rem);
}

.child a:hover {
    box-shadow: 0 0 2px 2px;
}

.child p {
    font-size: clamp(1rem, 1.5vw, 2rem);
}

@media screen and (max-width:780px) {
    .featurescontent {
        display: block;
    }
    .child {
        width: 100%;
    }
}

@media screen and (min-height:900px) {
    .navbar {
        height: 50vh;
    }
}

.focusOn {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.2);
    height: min-content;
    width: 100%;
    padding: 20px;
}

.focusOn div a img {
    height: 12vw;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.focusOn div a img:hover {
    transition: box-shadow .3s;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.focusOn div {
    position: relative;
}

.focustext {
    background-color: rgba(0, 0, 0, 0.6);
    width: max-content;
    position: absolute;
    bottom: 20%;
    left: 16px;
    font-size: clamp(1rem, 3vw, 2rem);
}

@media screen and (max-width: 900px) {
    .checkbtn {
        position: relative;
        display: inline;
    }
    .top-navbar {
        display: none;
    }
    .Navigation-bar ul {
        height: max-content;
        width: 100vw;
        background-color: gray;
        position: relative;
        top: 0;
        right: 100%;
        display: none;
    }
    .Navigation-bar ul li {
        width: max-content;
        position: relative;
        padding: 20px 0;
        margin: auto;
        display: block;
        text-align: center;
    }
    .Navigation-bar ul li span {
        display: block;
    }
    .Navigation-bar ul li:hover .dropdown {
        width: 100vw;
        position: relative;
        display: grid;
        overflow: auto;
    }
    #click:checked~.mainflexnav .Navigation-bar ul {
        right: 0;
        display: block;
    }
    #click:checked~.maintour {
        display: none;
    }
    .focusOn {
        display: block;
    }
    .focusOn div a img {
        margin-left: 15%;
        width: 70%;
        height: auto;
        padding: 2px;
    }
    .focustext {
        margin-left: 15%;
        bottom: 50px;
    }
}